$o-theme-font-configs: (
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,500,500i,700,700i',
    ),
);

$o-website-values-palettes: (
    (
        // Fonts
        'font': 'Roboto',
        'headings-font': 'Roboto',
        'navbar-font': 'Roboto',
        'buttons-font': 'Roboto',
    ),
);
