.font-weight-medium {
    font-weight:500;
}

.footer-logo {
    height:50px;
    width:auto;
}

.explore-cities{
    .img-container {
        height:100px;
        width:100px;
        flex-shrink: 0;
    }

    .country-image {
        object-fit:cover;
        height:100%;
        width:100%;
    }
}

.object-fit {
    object-fit:cover;
    height:100%;
    width:100%;
}

.new-properties {
    .property-img-container {
        height:220px;
    }
}

// .property-agents {
//     .agent-img-container {
//         height:150px;
//         width:150px;
//     }
// }

.our-services {
    background-color:#eee;

    .icon {
        height:70px;
        width:70px;

        i {
            font-size:42px;
        }
    }
}